 .board-row:after { 
    clear: both;
    content: '';
    display: table;
}
.reset-button {
    background-color: #007bff;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
} 
.reset-button:hover {
    background-color: #0056b3;
}
.status {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.victory-video-container {
    margin-top: 20px;
    text-align: center;
}