 .square { 
align-items: center; 
background-color: #FFFFFF; 
background: #FFFFFF; 
border-radius: 4px; 
border: 1px solid #999999; 
color: #000000; 
cursor: pointer; 
display: flex; 
float: left; 
font-size: 24px; 
font-weight: bold; 
height: 34px; 
justify-content: center; 
line-height: 34px; 
margin-right: -1px; 
margin-top: -1px; 
padding: 0; 
text-align: center; 
width: 34px; 
} 
.square:hover { 
background-color: #F0F0F0; 
}